.gsd-keyboard.settings-ported
autostart/
coc/
dconf/
evolution/
gtk-3.0/
mimeapps.list
monitors.xml
neofetch/
nvim/undo_dir/
pulse/
sway/backgrounds/
sway/desktopconfig
sway/desktopstatus
sway/trans.py
user-dirs.dirs
user-dirs.locale
pavucontrol.ini

MangoHud/
Signal/
StardewValley/
cef_user_data/
connections.db
environment.d/
gamemode.ini
gnome-control-center/
heroic/
htop/
input-remapper-2/
monitors.xml~
simple-scan/
solaar/
spotify/
systemd/
totem/
zsh/.zcompdump
zsh/.zsh_functions/
qBittorrent/
