# Host github
#     HostName github.com
#     User git
Host *
    User adriandu

Host uio
    HostName login.ifi.uio.no
    ForwardX11 yes

Host dancer dunder rudolph dasher
    HostName %h.ifi.uio.no
    ForwardX11 yes

Host ml9
    ForwardX11 yes
    ProxyJump login.ifi.uio.no
    HostName ml9.hpc.uio.no
